.constructorElement {
    display: flex;
    align-items: center;
    scroll-snap-align: end;
    width: 100%;
    justify-content: flex-end;
}

.constructorElementItem {
    background-color: var(--interface-bg);
}

.dragElementItem:hover {
    cursor: grab;
}

.dragElementItem:active {
    cursor: grabbing;
}

.isDragging {
    opacity: 0.5;
}
