.constructorElement {
  display: flex;
  align-items: center;
}

.constructorElementItem {
  max-width: 100%;
  background-color: var(--interface-bg);
}

.dragElementItem:hover {
  cursor: grab;
}

.dragElementItem:active {
  cursor: grabbing;
}
