.contentWrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: var(--content-header-max-width);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.mainContentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}
