.constructorElements {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editableConstructorElements {
    composes: constructorElements;

    height: calc(
        100vh - 510px
    ); /* занятое пространство другими элементами с макета 300px + 200px +- */
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}
