.authActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.authAction {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

.resetPadding {
    padding: 0;
}
