.modal {
    border-radius: var(--default-border-radius);
    background-color: var(--interface-bg);
    z-index: var(--modal-z-index);
    width: 720px;
    box-sizing: border-box;
}

.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.closeModal {
    cursor: pointer;
    padding: 10px;
    margin: -10px;
}
