.profilePage {
    display: grid;
    align-items: start;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 200px auto;
    justify-items: start;
    grid-template-areas:
        'left-top right'
        'left-bottom right';
    column-gap: 60px;
    row-gap: 80px;
    margin-top: 120px;
    grid-auto-flow: column dense;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-area: left-top;
}

.link {
    text-decoration: none;
    padding: 15px 0 15px 0;
}

.active {
    color: var(--primary-text-light);
}
