@import url('./styles/normalize.css');
@import url('./styles/variables.css');

:root {
  /*Add global styles*/
}

body {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
