.appHeader {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: var(--interface-bg);
}

.headerLogo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 1px);
}
